$primaryColor: #4980D6;
$secondaryColor: #000;
$whiteColor : #FFF;
$bodyfont:'Open Sans', sans-serif;
$headingfont: 'Raleway', sans-serif;
/*extend*/
%social-share {
  background: $secondaryColor;
  padding: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: $whiteColor;
  border-radius: 50%;
  margin:0px 0px;
}
body{
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: $bodyfont;
  color: #95989A;
}
h1,h2,h3,h4,h5{
  font-family: $headingfont;
}
img, iframe{
  max-width: 100%;
}
li{
  list-style-type: none;
}
ul{
  padding: 0px;
}
/* *{
  &:hover{
    transition: 0.9s all ease;
  }
} */
a{
  color: inherit;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    transition: 0.5s all ease;
    color: inherit;
  }
}


/*-----------------------------------------------------------------------------------*/
/*  Portfolio
/*-----------------------------------------------------------------------------------*/

#portfolio {
  position: relative;
  padding-bottom: 50px;
}

#portfolio .portfolio-list {
  margin-bottom: 50px;
}

#portfolio .portfolio-list .nav {
  display: inline-block;
  margin: 0;
}

#portfolio .portfolio-list .nav li {
  margin: 0 40px 0 0;
  float: left;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  cursor: pointer;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-list .nav li:hover, #portfolio .portfolio-list .nav li.filter-active  {
  color: #18baa6;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-container {
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
}

.portfolio-thumbnail {
  margin-bottom: 30px;
  overflow: hidden;
}

.portfolio-thumbnail img {
  max-width: 100%;
}

.main-title{
  font-size: 28px;
  color: #000;
  text-transform: uppercase;
  position: relative;
}
/* .main-title:before {
  content: '';
      content: '';
      background: url(../images/logo.png);
      width: 50px;
      height: 260px;
      position: absolute;
} */
.title-wrapper{
  margin-bottom: 2.5em;
}
.custom-btn{
  background: transparent;
  border: 1px solid $secondaryColor;
  padding: 2px 20px;
  border-radius: 0px;
  transition: 0.9s all ease;
  &:hover{
    background: $secondaryColor;
    color: #fff;
    transition: 0.9s all ease;
  }
}
section.top-header {
    background: #fbfbfb;
    padding: 5px 0px;
}
.custom-btn2{
  background: transparent;
  border: 1px solid #fff;
  padding: 2px 20px;
  border-radius: 0px;
  color: #fff;
  transition: 0.9s all ease;
  &:hover{
    background: #fff;
    color: #000;
    transition: 0.9s all ease;
  }
}
.block{
margin-top: 6em;
}
/* for top header */
.top-link-wrapper{
  .top-social-link{
    float: right;
    span{
      font-size: 13px;
      margin-left: 10px;
    }
    i{
      color: red;
    }
  }
}
  .shipping{
      color: red;
    }
#main-slider{
  border-top: 1px solid #000;
}
.middle-bar {
    background: black;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
}
.custom-navbar{
  .active a{
      color: #fff !important;
    }
}

 .product-title{
  font-size: 18px;
 }
 .product-name{
  margin-top: 10px;
  .product-title{
    margin: 0px;
    color: #000;
  }
 }

 .product-car{
  .swiper-slide{
    img{
      min-height: 24em;
      max-height: 24em;
    }
  }
 }
 .big-slider{
  background: url(https://nels.pikarthouse.com/main/wp-content/uploads/sites/4/2018/09/BlueBackground.jpg);
  padding: 4em 0em;
  height: 25em;
/*   background-attachment: fixed; */
  background-size: cover;
  padding-top: 108px !important;
 }
.big-slider2 {
     position: relative;
     margin-top: -20em;
   }
 .feature-title{
  margin-bottom: 3em;
  .title{
    font-size: 22px;
    margin-bottom: 25px;
    color: #fff;
  }
 }
 .feature-title{
    .main-title{
      color: #fff;
    }
 }
 .margin-big{
  margin-top: 25em;
 }
 .right-left-img{
  img{
    max-height: 10em;
  }
 }
 /* ****************************************************************************** */
 /* product image or block */
 .ecommerce-wrapper{
  /*background-image: url(http://backpacktraveler.mikado-themes.com/wp-content/uploads/2018/08/h1-backround-1.jpg?id=735) !important;*/
    padding: 6em 0em;
   background: rgba(249, 249, 249, 0.47);

 }
 #other-service{
 background: url(../images/background1.png);
     padding: 3em 0em;
     background-position: -15% 22% !important;
     background-repeat: no-repeat !important;
     width: 100%;
     background-attachment: fixed;
}
/*8********************designer collection new hover effect begins*****************************/
.blue-hover-btn{
  top: 50% !important;
  left: initial !important;
  right: 25% !important;
}
.blue-hover {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  background-color: #000000;
  min-height: 230px;
  max-height: 318px;
  overflow: hidden;
}
.blue-hover * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.blue-hover img {
  max-width: 100%;
  backface-visibility: hidden;
}
.blue-hover figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: rgba(24, 114, 245, 0.8313725490196079);
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.blue-hover figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 180px 120px 180px 0;
  border-color: transparent rgba(24, 114, 245, 0.8313725490196079) transparent transparent;
}
.blue-hover:after {
  position: absolute;
  top: 0;
  right: 45%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 108px 0px 120px;
  border-color: rgba(255, 255, 255,.25) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.blue-hover h3,
.blue-hover p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}
.blue-hover h3 {
  margin: 50px 0px 15px -28px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
}
.blue-hover p {
  margin: 0px 0px 15px -28px;
  font-size: 0.8em;
}
.blue-hover i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #ffffff;
  opacity: 0;
}
.blue-hover a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.blue-hover:hover img,
.blue-hover.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.blue-hover:hover:after,
.blue-hover.hover:after,
.blue-hover:hover figcaption,
.blue-hover.hover figcaption,
.blue-hover:hover i,
.blue-hover.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
/*8********************designer collection new hover effect ends*****************************/
/*this is custom upload**********************/
.custom-upload-wrapper{
  background: url(../images/background3.png);
  padding: 4em 0em;
}
.cust-up {
    height: 100%;
    position: absolute;
    width: 100%;
    /* background: red; */
    /* box-shadow: 0px 4px 47px 0px rgba(34,34,34,0.22); */
    left: 0px;
    top: 0;
}
.custom-upload:hover > .cust-up{
  box-shadow:0px 4px 127px 32px rgb(0, 255, 55);
  transition: 3s all ease;
  opacity: 0;
}
.custom-upload{
  position: relative;
}
.custom-upload:hover{
  box-shadow: 0px 14px 27px 3px rgba(34,34,34,0.22);
  transition:0.9s all ease;
}
.custom-upload{
  box-shadow: 0px 4px 47px 0px rgba(34, 34, 34, 0.22);
  padding: 3em 3em;
  background:#fff;
  .product-title{
    margin-bottom: 1.3em;

  }
}
.custom-upload-effect {
  position: relative;
  display: inline-block;
  margin: 20px;
  max-width: 190px;
  width: 100%;
  color: #bbb;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
}

.custom-upload-effect *,
.custom-upload-effect:before,
.custom-upload-effect:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.custom-upload-effect:before,
.custom-upload-effect:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #bbb;
}

.custom-upload-effect img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
}

.custom-upload-effect figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}

.custom-upload-effect i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
}

.custom-upload-effect a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.custom-upload-effect:hover figcaption,
.custom-upload-effect.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.upload-icon{
    padding-top: 0px;
      overflow:hidden;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
    position:absolute;
    top: 200px;
    left: 10px;
}
.custom-upload-effect:hover .upload-icon{
    top: 10px;
    left: 20px;
}

.custom-upload-effect:hover:before,
.custom-upload-effect.hover:before,
.custom-upload-effect:hover:after,
.custom-upload-effect.hover:after {
  border-width: 10px;
}

.custom-upload-effect:hover:before,
.custom-upload-effect.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-upload-effect:hover:after,
.custom-upload-effect.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/****************************************************/
 .custom-card{
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  .custom-card-body{
    padding: 1em;
  }
 }
 .ecommerce{
  &:hover{
    box-shadow: 0px;
    transform: scale(1.02);
    transition: 0.9s all ease;
  }
 }
 .ecommerce-body{
  margin-bottom: 2em;
  .category-name{
    font-size: 12px;
  }
  .product-title{
    margin:0px;
    color: #000;
  }
  .btn-price{
    border-top: 1px solid #d7d7d7;
    margin-top: .8em;
    padding-top: .8em;
    .price{
      float: right;
      color: red;
      font-size: 16px;
      margin-top: 2px;
    }
  }
 }
 /* ****************************************************************************** */
 /* fancy box */

 .fancy-card{
   background: #eee;
   width: 100%;
   display: block;
   float: left;
   position: relative;
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
   transition: all 250ms ease-in;
   min-height: 300px;
   background-size: cover;
   background-position: center center;
   margin-bottom: 10px;
 }

 .fancy-card .bg-overlay{
     background: rgba(0,0,0,0.25);
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     transition: all 200ms linear;
 }
 .fancy-card .content{
   padding: 30px 40px;
   color: #fff;
   text-align: center;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   flex-direction: row;
 }
 .fancy-card .content .primary{
   text-transform: uppercase;
   width: 100%;
   transition: all 250ms ease-out 200ms;
   opacity: 1;
   transform: translate3d(0px, 0px, 1px);
 }

 .fancy-card .content .secondary{
  position: absolute;
  opacity: 0;
  transform: translate3d(0px, 30px, 1px);
  transition: all 200ms linear 0ms;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  width: 80%;
  left: 10%;
 }
.secondary .product-title{
  color: #fff;
}
 .fancy-card .button{
   border: solid 1px #fff;
   padding: 8px 12px;
   display: inline-block;
   border-radius: 2px;
   margin: 12px auto;
   transition: 0.9s all ease;
 }

.fancy-card .v-border:before,
.fancy-card .v-border:after{
  width: 0%;
  height: 1px;
  left: 50%;
  transition: all 250ms ease-out;
  background: #fff;
}
.fancy-card .v-border:before{
  content: '';
  top: 10%;
  position: absolute;
}
.fancy-card .v-border:after{
  content: '';
  bottom: 10%;
  position: absolute;
}

/*horizontal elements (left & right)*/
.fancy-card .h-border{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.fancy-card .h-border:before,
.fancy-card .h-border:after{
  height: 0%;
  top: 50%;
  width: 1px;
  transition: all 250ms ease-out;
  background: #fff;
}
.fancy-card .h-border:before{
  content: '';
  left: 10%;
  height: 0%;
  position: absolute;
}
.fancy-card .h-border:after{
  content: '';
  right: 10%;
  position: absolute;
}


/*hover states for interactivity*/
.fancy-card:active .v-border:before,
.fancy-card:active .v-border:after,
.fancy-card:hover .v-border:before,
.fancy-card:hover .v-border:after{
  width: 90%;
  left: 5%;
}
.fancy-card:active .h-border:before,
.fancy-card:active .h-border:after,
.fancy-card:hover .h-border:before,
.fancy-card:hover .h-border:after{
  height: 90%;
  top: 5%;
}

/*hovering over card, adjust primary element*/
.fancy-card:active .content .primary,
.fancy-card:hover .content .primary{
  opacity: 0;
  transform: translate3d(0px, 20px, 1px);
  transition: all 200ms linear 0ms;
}
/*hoverijng over card, adjust secondary element*/
.fancy-card:active .content .secondary,
.fancy-card:hover .content .secondary{
  opacity: 1;
  transform: translate3d(0px, 0px, 1px);
  transition: all 200ms linear 200ms;
}

/*hovering over card, adjust background overlay*/
.fancy-card:active .bg-overlay,
.fancy-card:hover .bg-overlay{
  background: rgba(0,0,0,0.45);
}
/*medium and large profiles*/

/* ****************************************************************************** */
footer{
  margin-top: 2.6em;
  background: #f6f6f6;
  padding: 3em 0em;
  .title{
    font-size: 16px;
    color: #000;
    margin-bottom: 2em;
  }
  p{
    font-size: 13px;
    color: #000;
    margin-bottom: 0px;
  }
  .link{
    p{
      margin-bottom: 10px;
    }
    a{
      &:hover{
        color: red;
        margin-left: 3px;
      }
    }
  }
}
/*for video*/
    .video-title {
        height: 70%;
        background: rgba(1, 1, 39, 0.94);
        color: #fff;
        margin: 40px 0px 0px 0px;
        padding: 5em 3em 3em 3em;
        right: -15%;
        position: absolute;
        width: 100%;
        z-index: 999;
    .title{
      font-weight: bold;
      margin-bottom: 25px;
    }
}
.pos {
    background: rgba(0, 0, 0, 0.4117647058823529);
    position: absolute;
    width: 95%;
    height: 100%;
    text-align: center;
    top: 0;
    display: table;
      i{
      display: table-cell;
      vertical-align: middle;
      color: #c4302b;
      font-size: 7em;
      }
}
.pos:hover{ 
  transform: scale(1.1);
}

section.video-block.block {
    background-image: url(http://backpacktraveler.mikado-themes.com/wp-content/uploads/2018/08/h1-backround-1.jpg?id=735) !important;
    background-position: 0 120% !important;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    padding: 3em 0em;
}
/***************** designer collection css */

.box {
 /*  position:relative; */
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition:0.5s;
}

.box:hover {
  border: 2px solid rgba(0,160,80,0);
  color: #FFF;
}
.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}
.bar::before {
  border-bottom: 3px solid #FFF;
  border-left: 3px solid #FFF;
  -webkit-transform-origin: 100% 0%;
}

.bar::after {
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  -webkit-transform-origin: 0% 100%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}
.designer-colllection{
  margin-bottom: 1em;
  position: relative;
  height: 100%;
}
/* custom  designer collection*/
.product-overlay-wrapper {
    position: absolute;
    bottom: 15px;
    background: rgba(0, 0, 0, 0.2196078431372549);
    height: 95%;
    width: 100%;
    display: none;
}

.product-overlay {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.box{
  h3{
    color: #fff;
    text-transform: uppercase;
  }
}

.box:hover > .product-overlay-wrapper {
     display: table;

 }
 .custom-btn-view{
  border: solid 1px #fff;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 2px;
  margin: 12px auto;
 }
 .black{
  background: black;
 }
 .box img {
    min-height: 13em;
    max-height: 13em;
}


  .direction-reveal--3-grid-flexbox .direction-reveal__card {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33%;
       margin-right: 0px; 
       margin-right: 0px; 
  }
  .direction-reveal__overlay{
    background-color: rgba(197, 41, 48, 0.72);
  }
  .country{
  h3{
  color: #fff; 
  font-size: 22px;

  }
 }
 .t {
     display: table;
     height: 100%;
 }
 .tc {
     display: table-cell;
     vertical-align: middle;
 }

  /************Single Page*************** */
  .product-title{
    font-size: 20px;
    color: #000;
  }
  .products-detail{
    .text{
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
      b{
        font-weight: 400;
        color: #C52026;
      }
    }
  }
  .btn-collection{
    color: #C52026; 
    .btn-single{
      margin-right: 15px;
      i{
        margin-right: 5px;
      }
    }
  }
  .accordion-wrapper {
     margin-top: 1em;
 }

 .accordion-wrapper{
  .accordion-single{
    /*border-top: 1px solid #95989A;
    border-bottom: 1px solid #95989A;*/
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
  }
  .btn-link{
    color: inherit;
      width: 100%;
      text-align: left;
    &:hover{
      text-decoration: none;
    }
    &:focus{
      text-decoration: none;
    }
  }
 }
 .mb-0 > button:before {
    float: right !important;
        content: "-";
        padding-right: 5px;
        color: #000;
        font-size: 18px;
 }
 .mb-0  > button.collapsed:before {
     float: right !important;
     content:"+";
     color: #000;
     font-size: 18px;
 }

 .breadcrumb{
  background: transparent;
 }
 .breadcrumb-item+.breadcrumb-item::before {
     content: ">" !important;
 }
 .xzoom-thumbs{
  text-align: left;
  margin-top: 1em;
 }
 /* registration for user */
 .contact-form{
  .form-control{
    background: transparent;
    border: 0px solid red;
    border-radius: 0px;
    border-bottom: 1px solid #d3d3d3;
  }
 }
 .contact-block {
      border: 1px solid #d3d3d3;
      padding: 0px 10px;
      display: flex;
      margin-top: 1em;
    padding-top: 10px;
    .icon {
        flex: 1;
        margin-top: 15px;
        display:  table;
        padding: 10px 15px;
        border-right: 1px solid #d3d3d3;
        i{
          font-size:  32px;
           color: $secondaryColor;
        }
    }

    .detail{
        flex: 4;
        padding: 10px 30px;
    }

      .sub-title{
        margin: 0px;
        font-size: 18px;
        font-style: normal;
      }
      .bottom-social-link{
        padding: 17px 10px;
        .social-icon{
          i{
            @extend %social-share;
            margin-right: 10px;
          }
        }
      }

 }
 /* reg */
 .contact-form{
      padding: 3em;
    box-shadow: 0 657px 508px 478px transparent, 0 8px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.contact-form .custom-card {
  background: #000;
  padding: 10px 7px;
  text-align: center;
  margin-bottom: 5em;
  position: relative;
  margin: 0px 7em;
  margin-top: -10em;
  margin-bottom: 3em;
  box-shadow: 0 657px 508px 478px transparent, 0 8px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
    img{
      width: 230px;
    }
    h3{
      color: #fff;
      margin: 0px; 
    }
}
 .contact-form:after{
    content: "";
    background: url(../images/mrd.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  /* cart just try */

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: #f9f9f9;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  
  
  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    
    .shopping-cart-total {
      float: right;
    }
  }
  
  .shopping-cart-items {
    
    padding-top: 20px;

      li {
        margin-bottom: 18px;
      }

    img {
      float: left;
      margin-right: 12px;
    }
    
    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }
    
    .item-price {
      color: #000;
      margin-right: 8px;
    }
    
    .item-quantity {
      color: red;
    }
  }
   
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}
/* ************ For user Dash Board ********** */
.user-dashboard{
  background: #eef5f9;
  padding: 2em 0em;
}
.user-leftbar{
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 1em 1em;
    .user-dec{
      text-align: center;
      border-bottom: 1px solid #dee2e6;
      margin-bottom: 1.5em;
      img{
        width: 15em;
        height: 15em;
        border-radius: 100%;
      }
      .name{
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0px;
      }
    }
    .links{
      padding-left: 1em;
      p{
        &:hover{
          margin-left: 5px;
          transition: 0.9s all ease;
        }
      }
    }
}

.user-rightbar{
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  background: #fff;
}
.product-item{
      display: table;
    width: 100%;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 3px;
    .product-thumb{
      img{
        width: 60px;
        vertical-align: middle;
        float: left;
        margin-right: 2em;

      }
    }
    .product-info {
      vertical-align: top;
    }
}
.cust-table{
  td{
    vertical-align: inherit;
  }
}

/*contact page*/
.contact-info{
  background: #fff;
  box-shadow: 1px 0px 10px 3px rgba(0,0,0,0.1);
  padding: 0em 1em;
  .icon{
        padding: 1em 0em;
    i{
          background: red;
    color: #fff;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    border-radius: 50%;
    font-size: 2.5em;
    display: inline-block;
    }
  }
}
.contct-info-content{
  margin-left: .8em;
  margin-top: 0.8em;
  .sub-title{
    font-size: 22px;
  }
}
/*contact page close*/
div#map {
    height: 410px;
}
.get-us-wrap {
   margin-top: 3em;
   box-shadow: 1px 0px 10px 3px rgba(0, 0, 0, 0.1);
   padding: 2em 2em;
   height: 92%;
}

.contact-block h2, .get-us h1 {
    font-size: 1.6em;
}
@media screen and (max-width: 998px){
  
  .video-title {
    height: initial; 
    background: rgba(1,1,39,0.94);
    color: #fff;
    margin: 40px 0px 0px 0px;
    padding: 1em 2em 2em 2em;
    /* right: -15%; */
     position: initial; 
    /* width: 100%; */
    z-index: 999;
  }
  
}
@media screen and (max-width: 576px){
  .no-display{
    display: none;
  }
  .fancy-card {
      min-height: 1px; 
      background-size: cover;
      background-position: center center;
      margin-bottom: 10px;
  }
  .ecommerce-body .btn-price .price {
      float: initial;
  }
  .ecommerce-body .btn-price{
    text-align: center;
  }
  .fancy-card .content .secondary{
    padding: 0px 0px;
  }
  .video-title {
  display: none;
  }
  .custom-btn{
    padding:2px 10px; 
  }
  .custom-btn2{
    padding:2px 10px; 
  }
  .product-car .swiper-slide img{
    min-height: 10em;
    max-height: 10em;
  }
  .product-car .swiper-slide .text-center{
      text-align: initial !important;
  }
  .margin-big {
      margin-top: 16em;
  }
  .ecommerce-wrapper {
      padding: 1em 0em;
    }
    footer{
      .title{
        margin-bottom: .6em;
      }
      .footer-about{
        margin-bottom: 1.6em;
      }
    }
}

/*******************************************for model **********************************************/
.custom-model-detail{
  margin-top: 2em;
  padding: 0em 2em;
  .custom-model-para{
    text-align: center;
    font-size: 18px;
    margin-bottom: 1.5em;
    color: #7a7a7a;
    font-weight: 700;
  }
  input{
    margin-bottom: 1.5em;
  }
}


@media (min-width: 576px){
.custom-model-wrapper .modal-dialog {
    max-width: 576px !important;
    margin: 1.75rem auto;
  }

}

@media (min-width: 992px){
.custom-model-wrapper .modal-lg {
    max-width: 992px !important;
  }
}
@media (max-width: 992px){
  .blue-hover {
      min-height: 180px;
  }
  .blue-hover:after {
      right: 57%;
    }
    .blue-hover figcaption {
        width: 20%;
      }
      .blue-hover h3 {
          margin: 15px 0px 15px -58px;
          line-height: 1.2em;
          font-weight: 900;
          font-size: 1em;
      }
}
@media (max-width: 576px){
  .blue-hover {
      min-height: 140px ;
  }
  figcaption{
    -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
  }
  .blue-hover figcaption:before {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 100%;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 180px 120px 180px 0;
      border-color: transparent rgba(24, 114, 245, 0) transparent transparent;
  }
  .blue-hover:after {
    border-color: rgba(255, 255, 255, 0);
  }
  .blue-hover figcaption {
    background-color: rgba(24, 114, 245, 0);
  }
  .blue-hover h3 {
    margin: -5px 0px 15px -46px !important;
}

}
/*my close*/
.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row-refine {
  margin: 0 -15px;
}

/*.col-2 {
  width: -webkit-calc((100% - 20px) / 2);
  width: -moz-calc((100% - 20px) / 2);
  width: calc((100% - 20px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}*/
.page-wrapper {
  min-height: 100vh;
}

.bg-img-1 {
  background-image: -webkit-linear-gradient(134deg, #4158d0 0%, #c850c0 50%, #ffcc70 100%);
  background-image: -moz-linear-gradient(134deg, #4158d0 0%, #c850c0 50%, #ffcc70 100%);
  background-image: -o-linear-gradient(134deg, #4158d0 0%, #c850c0 50%, #ffcc70 100%);
  background-image: linear-gradient(316deg, #4158d0 0%, #c850c0 50%, #ffcc70 100%);
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-15 {
  padding-top: 15px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-275 {
  padding-top: 275px;
}

@media (max-width: 767px) {
  .p-t-275 {
    padding-top: 120px;
  }
}

.p-t-395 {
  padding-top: 395px;
}

@media (max-width: 767px) {
  .p-t-395 {
    padding-top: 120px;
  }
}

.p-t-290 {
  padding-top: 290px;
}

@media (max-width: 767px) {
  .p-t-290 {
    padding-top: 120px;
  }
}

.p-t-240 {
  padding-top: 240px;
}

@media (max-width: 767px) {
  .p-t-240 {
    padding-top: 150px;
  }
}

.p-t-200 {
  padding-top: 200px;
}

@media (max-width: 767px) {
  .p-t-200 {
    padding-top: 150px;
  }
}

.p-t-165 {
  padding-top: 165px;
}

@media (max-width: 767px) {
  .p-t-165 {
    padding-top: 120px;
  }
}

.p-b-100 {
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .p-b-100 {
    padding-bottom: 250px;
  }
}

.p-b-120 {
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .p-b-120 {
    padding-bottom: 250px;
  }
}

.m-r-45 {
  margin-right: 45px;
}

@media (max-width: 767px) {
  .m-r-45 {
    margin-right: 15px;
  }
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w680 {
  max-width: 680px;
}

.wrapper--w690 {
  max-width: 690px;
}

.wrapper--w720 {
  max-width: 720px;
}

.wrapper--w900 {
  max-width: 900px;
}

.wrapper--w1070 {
  max-width: 1070px;
}

.wrapper--w1226 {
  max-width: 1226px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn-next-con {
  text-align: right;
  padding-top: 30px;
}

.btn-next,
.btn-back,
.btn-last {
  display: inline-block;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
  line-height: 35px;
  padding: 0 40px;
  -webkit-border-radius: 22.5px;
  -moz-border-radius: 22.5px;
  border-radius: 22.5px;
  background: -webkit-linear-gradient(left, #33156d 0%,#f282bc 100%);
  font-size: 16px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  text-transform: capitalize;
}

.btn-next:hover,
.btn-back:hover,
.btn-last:hover {
  background: #e5405e;
  color: #fff;
}

@media (max-width: 767px) {
  .btn-next,
  .btn-back,
  .btn-last {
    display: block;
    text-align: center;
  }
}

.btn-back {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #999;
  margin-right: 10px;
}

.btn-back:hover {
  background: #e5405e;
}

@media (max-width: 767px) {
  .btn-back {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.m-t-0 {
  margin-top: 0;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-35 {
  margin-top: 35px;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input,
textarea {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 18px;
  font-family: inherit;
}

input:disabled {
  cursor: pointer;
  background: transparent;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group-icon {
  position: relative;
}

.input-group-icon .input--style-1 {
  padding-left: 40px;
}

.input-icon {
  font-size: 15px;
  color: #333;
  position: absolute;
  line-height: 38px;
  left: 14px;
  top: 1px;
  width: 20px;
  background: #fff;
  text-align: center;
}

.label {
  font-size: 15px;
  color: #666;
  text-transform: capitalize;
  display: block;
  margin-bottom: 11px;
}

.input--style-1 {
  font-size: 15px;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-weight: 700;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  max-width: 300px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.input--style-1::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}

.input--style-1:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}

.input--style-1::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}

.input--style-1:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

.input--style-1:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}

.input--style-1:focus {
  border-color: #36c240;
}

@media (max-width: 767px) {
  .input--style-1 {
    max-width: 100%;
    width: 100%;
  }
}

/* ==========================================================================
   #SELECT
   ========================================================================== */
.quantity {
  font-size: 18px;
  color: #333;
}

.icon-con {
  position: absolute;
  width: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background: #f2f2f2;
  right: 11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.minus,
.plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  color: #b2b2b2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.minus:hover,
.plus:hover {
  background: #2c6ed5;
  color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
/* ==========================================================================
   #TAB
   ========================================================================== */
.tab-content > .tab-pane {
  display: none;
}

.tab-content > .tab-pane.active {
  display: block;
}

.nav-tab {
  height: 0;
  visibility: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
/* ==========================================================================
   #PROGRESS
   ========================================================================== */
.progress {
  height: 35px;
  margin-bottom: 40px;
  overflow: hidden;
  background-color: #f5f5f5;
  -webkit-border-radius: 17.5px;
  -moz-border-radius: 17.5px;
  border-radius: 17.5px;
  border: 1px solid #e5e5e5;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 17.5px;
  -moz-border-radius: 17.5px;
  border-radius: 17.5px;
  background: -webkit-linear-gradient(left, #33156d 0%,#f282bc 100%);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  -moz-transition: width .6s ease;
  transition: width .6s ease;
  position: relative;
}

.progress-val {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card-1 {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-1 .card-heading {
  position: absolute;
  background: transparent;
  opacity: 0.6;
  left: -109px;
  top: -49px;
  font-family: "Montserrat", "Arial", "Helvetica Neue", sans-serif;
}

.card-1 .card-heading .title {
  font-size: 55px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .card-1 .card-heading {
    left: 0;
    top: -54px;
  }
  .card-1 .card-heading .title {
    font-size: 40px;
  }
}

.card-1 .card-body {
  padding: 40px 30px;
  padding-bottom: 30px;
}

/*custom buttons*/
.btn-yes{
  display: inline-block;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
  line-height: 35px;
  padding: 0 40px;
  -webkit-border-radius: 22.5px;
  -moz-border-radius: 22.5px;
  border-radius: 22.5px;
  background: #e5405e;
  font-size: 16px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  text-transform: capitalize;


}

.btn-no{
  display: inline-block;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
  line-height: 35px;
  padding: 0 40px;
  -webkit-border-radius: 22.5px;
  -moz-border-radius: 22.5px;
  border-radius: 22.5px;
  background: #e5405e;
  font-size: 16px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  text-transform: capitalize;

}

.step-form-custom{
  margin-top: 20px;
}
/*for service page*/
.service-block{
  .img{
      overflow: hidden;
  }

  .service-content {
    z-index: 1;
      background: #fff;
      text-align: center;
      margin: 0 1.3em;
      position: relative;
      top: -3.6em;
      padding: 1.2em;
      border: 1px solid #e7e7e7;
  }
}
.service-block:hover  img{
  transform: scale(1.2);
  transition: 0.9s all ease;
}
.service-block:hover  .service-content::after {
    transform: scaleY(1);
}
.service-block:hover .product-title, .service-block:hover p{
  color: #fff;
}
.service-content:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #000;
    z-index: -1;
    transition: transform 0.3s;
}
.step-number {
      font-size: 72px;
      border-radius: 50%;
      border-style: solid;
      border-width: 4px 6px 0px 0px;
      border-color: #e9e9e9;
      text-align: center;
  }
  .step-content {
      margin-bottom: 4em;
  }
  .clip-wrapper {
      padding: 1em;
      overflow: hidden;
       box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  }
  .clip-img{
    overflow: hidden;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 0.9s all ease;
  }
  .clip-body{
    text-align: center;
    padding: .8em 0em;
    background: #fff;
    .product-title{
      margin: 0px;
    }
    p{
      margin-bottom: 5px;
    }
  }
  .clip-wrapper:hover .clip-img{
    -webkit-clip-path: none;
    clip-path: none;
    transition: 0.9s all ease;

  }